.watchlist-container {
  border: 1px solid black;
  background: rgb(172, 172, 172);
  margin: 2rem;
  min-height: 40vh;
  min-width: 20vw;
  flex-grow: 0 1 auto;
}

table {
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid red;
  width: 100%;
  background: rgb(230, 230, 230);
}

.wl-header-row {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  & th {
    font-size: 1.8rem;
    color: rgb(109, 109, 109);
  }
}

tr.header-row {
  display: flex;
  justify-content: flex-start;
}

thead {
  width: 100%;
  border-bottom: 1px solid black;
}

th {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

th.ticker {
  border-right: 1px solid black;
  width: 40%;
  text-align: left;
}

th.price {
  width: 60%;
  text-align: right;
}

tbody {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  & tr.body-row {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
  }
}

td {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;

  &.ticker {
    display: flex;
    justify-content: space-between;
    border-right: 1px solid black;
    width: 40%;
    text-align: left;
    & .delete {
      text-align: center;
    }
  }

  &.price {
    width: 60%;
    text-align: right;
  }
}
