tr.item-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

td {
  padding: 0.5rem 1rem;

  &.add-ticker {
    border-right: 1px solid black;
    width: 50%;
    text-align: left;   
    padding: none; 
    & input {
      border: none;
      width: 100%;      
    }
  }

  &.filler {
    width: 50%;
    text-align: right;
  }
}
