tr.item-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black; }

td {
  padding: 0.5rem 1rem; }
  td.add-ticker {
    border-right: 1px solid black;
    width: 50%;
    text-align: left;
    padding: none; }
    td.add-ticker input {
      border: none;
      width: 100%; }
  td.filler {
    width: 50%;
    text-align: right; }
