.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid black;
  background: white;
  margin-bottom: auto; }

.logo-wrapper {
  margin-left: 8rem; }

.logo-name svg {
  font-size: 3rem;
  padding: 1rem; }
